@font-face {
    font-family: "Retro-font";
    src: url(../fonts/retro_gaming/Retro\ Gaming.ttf);
}

*{
    box-sizing: border-box;
    font-family: 'Retro-font';
    color: aliceblue;
}

html{
    font-size: 10px;
}

body{
    background-color: #2F5C9E;
}

header{
    width: 100%;
    height: 12rem;
    background-color: #2F5C9E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav{
    position: fixed;
    left: 2rem;
}

header li{
    display: inline-block;
    margin: 0 2rem;
} 

header a{
    color: aliceblue;
}

#header-logo{
    width: 10rem;
    height: 10rem;
}

main{
    position: relative;
    top: 12rem;
}

.contact_sec{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 4rem;
    max-width: 100rem;
    border: 0.75rem #193052 solid;
    padding: 2rem;
}

.contact_sec h1{
    padding: 2rem;
    border-bottom: 0.75rem #193052 solid;
}

.contact_info{
    margin: 3rem;
}

.contact_info li{
    list-style-type: square;
}

.contact_info h4{
    margin: 2rem;
    letter-spacing: 0.5rem;
}

/*** button styles ***/

nav a{
    text-decoration: none;
    transition-property: color;
    transition-duration: 300ms;
}

nav a:hover{
    color: #193052;
}

/*********************/

/*** Topography Styles ***/

h1,h2,h3,h4,h5,h6,p{
    font-weight: 700;
    margin: 1.5rem;
    
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}
  
h4, h5 {
    font-size: 1.8rem;
}
  
h6{
    font-size: 1.6rem;
}

p{
    font-size: 1.6rem;
}

li{
    font-size: 1.8rem;
}
/************************/

@media only screen and (max-width: 800px){
    
    #header-logo{
        display: none;
    }

    nav{
        position: static;
    }

    .contact_sec{
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .contact_info h4{
        font-size: 1.6rem;
        letter-spacing: normal;
    }

    #email{
        font-size: 1.3rem;
    }
}