/*
@font-face {
    font-family: "Retro-font";
    src: url(../fonts/retro_gaming/Retro\ Gaming.ttf);
}*/

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

html{
    font-size: 10px;
    scrollbar-color: aliceblue #193052;
}

::-webkit-scrollbar{
    background-color: #193052;
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    background: aliceblue;
    border-radius: 0.4rem;
}

body{
    background-color: #193052;
}

header{
    width: 100%;
    height: 12rem;
    background-color: #193052;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    position: fixed;
    top: 0;
    z-index: 2;
    */
}

nav{
    position: absolute;
    left: 2rem;
}

header li{
    display: inline-block;
    margin: 0 2rem;
} 

header a{
    color: aliceblue;
}

#header-logo{
    width: 8rem;
    height: 8rem;
}

main{
    position: relative;
    /*
    top: 12rem;
    */
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.intro{
    max-width: 100rem;
    max-height: 20rem;
    height: auto;
    margin-top: 5rem;
    border: solid aliceblue 0.75rem;
    overflow-y: auto;
}

.intro_text{
    font-size: 2.4rem;
    margin: 1.5rem;
    line-height: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.title{
    max-width: 100rem;
    margin-top: 4rem;
    border: 0.5rem #5F789E solid;
}

.title h2{
    margin: 1.5rem 0;
}

.section{
    max-width: 100rem;
    border-bottom: 0.5rem #5F789E solid;
    border-left: 0.5rem #5F789E solid;
    border-right: 0.5rem #5F789E solid;
    /*border: 0.5rem #5F789E solid;*/
    padding: 2rem;
    overflow-x: auto;
}

.game_helper_buttons{
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.restart_button{
    width: 5rem;
    margin-bottom: 1rem;
}

#hide_letters{
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    background-color: #2F5C9E;
    border: 0.3rem #5F789E solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

#letter_in_button{
    font-size: inherit;
}

#start_game{
    width: 50rem;
    height:50rem;
    border: 0.5rem aliceblue solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
}

.grid{
    
    width: 50rem;
    height:50rem;
    border: 0.5rem aliceblue solid;
    display: grid;
}

#game_grid_1{
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#game_grid_2{
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

[hidden]{
    display: none !important;
}

.box{
    background-color: #2F5C9E;
    border: solid #193052 0.3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-out;
}

#skills_sec{
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills_sec img{
    height: 8rem;
    width: auto;
}

#skills_sec figure, .skills_blocks{
    margin: 1rem;
}

#skills_sec figcaption{
    margin: 0.5rem 0;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-style: normal;
}

.skills_blocks{
    border: white solid 0.25rem;
    border-radius: 0.5rem;
}

.skills_blocks figure{
    display: inline-block;
}

.button{
    margin: 0 auto;
}

.project_title{
    padding: 0.5rem;
    margin-top: 2rem;
}

.box_text_2{
    display: none;
}

/*** button styles ***/

nav a{
    text-decoration: none;
    transition-property: color;
    transition-duration: 300ms;
}

nav a:hover{
    color: #2F5C9E;
}

.box:hover{
    cursor: pointer;
    border: solid aliceblue 0.375rem;
}
/*
.box:active{
    background-color: #84CF1B !important;
    opacity: 1;
}*/

.button{
    transition: color 300ms 100ms;
}

.button:hover{
    cursor: pointer;
    color: #4688EB;
    
}

.restart_button:hover{
    width: 6rem;
}

.restart_button:active{
    width: 5rem;
}

#hide_letters:hover{
    width: 6rem;
    height: 6rem;
    font-size: 1.92rem;
}

#hide_letters:active{
    width: 5rem;
    height: 5rem;
    font-size: 1.6rem;
}

.game_gif{
    width: 25rem;
    height: auto;
    
}

#snake_gif{
    width: 40rem;
    height: auto;
}

.project_image{
    max-width: 100%;
    max-height: 50rem;
    border: #5F789E solid 0.25rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

figcaption{
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
}

.project_text{
    margin: 1.5rem 0;
    text-align:start;
    line-height: normal;
}

.project_text_h2{
    margin: 2rem;
}

.project_text_list{
    margin-top: 1.5rem;
    margin-left: 5rem;
    text-align:start;
    line-height: normal;
}

ul.project_text_list{
    list-style: disc;
}

ol.project_text_list{
    list-style: decimal;
}

.project_text_list li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.project_link{
    color: #4688EB;
    text-decoration: underline;
}

li figure img{
    width: 100%;
}

strong{
    letter-spacing: 0.1rem;
}
/*********************/

/*** Topography Styles ***/

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin: 1.5rem;
    letter-spacing: 0.1rem;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.5rem;
}

h2.project_title{
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}
  
h4, h5 {
    font-size: 1.8rem;
}
  
h6{
    font-size: 1.6rem;
}

p{
    font-size: 1.6rem;
}

li{
    font-size: 1.8rem;
}
/************************/

@media only screen and (max-width: 800px){
    #header-logo{
        display: none;
    }
    
    .intro{
        max-height: 20rem;
    }

    .intro_text{
        font-size: 1.8rem;
        line-height: normal;
        font-weight: 500;
        text-align: left;
    }

    h2{
        font-size: 2.2rem;
    }

    h2.project_title{
        font-size: 2.1rem;
    }

    .section{
        padding: 1rem;
    }

    nav{
        position: static;
    }

    .game_helper h2{
        width: 25rem;
    }

    .game_helper_buttons{
        width: 25rem;
    }

    #start_game{
        width: 25rem;
        height: 25rem;
    }

    .grid{
        width: 25rem;
        height: 25rem;
    }

    #skills_sec img{
        height: 4.5rem;
        margin: 0.5rem;
        width: auto;
    }

    .game_gif{
        width: 20rem;
        height: auto;
        
    }

    #snake_gif{
        width: 25rem;
        height: auto;
        
    }

    .project_text_list{
        margin-left: 2rem;
    }
}