@font-face {
    font-family: "Retro-font";
    src: url(../fonts/retro_gaming/Retro\ Gaming.ttf);
}

*{
    box-sizing: border-box;
    font-family: 'Retro-font';
    color: aliceblue;
}

html{
    font-size: 10px;
    scrollbar-color: aliceblue #193052;
}

::-webkit-scrollbar{
    background-color: #193052;
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    background: aliceblue;
    border-radius: 0.4rem;
}

body{
    background-color: #193052;
}

header{
    width: 100%;
    height: 12rem;
    background-color: #193052;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav{
    position: fixed;
    left: 2rem;
}

header li{
    display: inline-block;
    margin: 0 2rem;
} 

header a{
    color: aliceblue;
}

#header-logo{
    width: 10rem;
    height: 10rem;
}

main{
    position: relative;
    top: 12rem;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.intro{
    max-width: 100rem;
    height: auto;
    margin-top: 5rem;
    border: dashed aliceblue 1.5rem;
    line-height: 8rem;
}

.title{
    max-width: 100rem;
    margin-top: 4rem;
    border: 1rem #5F789E dashed;
}

.title h2{
    margin: 1.5rem 0;
}

.section{
    max-width: 100rem;
    border-bottom: 1rem #5F789E dashed;
    border-left: 1rem #5F789E dashed;
    border-right: 1rem #5F789E dashed;
    padding: 2rem;
}

#game_helper_buttons{
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#game_helper h2{
    padding: 0.8rem;
    width: 50rem;
    margin-bottom: 1rem;
    border-bottom: 1rem #5F789E dashed;
}

#restart_button{
    width: 5rem;
    margin-bottom: 1rem;
}

#hide_letters{
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    background-color: #2F5C9E;
    border: 0.3rem #5F789E dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start_game{
    width: 50rem;
    height:50rem;
    border: 1.5rem aliceblue dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
}

.grid{
    
    width: 50rem;
    height:50rem;
    border: 1.5rem aliceblue dashed;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

[hidden]{
    display: none !important;
}

.box{
    background-color: #2F5C9E;
    border: dashed #193052 0.3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-out;
}

#skills_sec{
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills_sec img{
    height: 10rem;
    width: auto;
    margin: 1rem;
}
/*** button styles ***/

nav a{
    text-decoration: none;
    transition-property: color;
    transition-duration: 300ms;
}

nav a:hover{
    color: #2F5C9E;
}

.box:hover{
    cursor: pointer;
    opacity: 0.5;
}

.box:active{
    background-color: #84CF1B !important;
    opacity: 1;
}

.button h2{
    transition: color 300ms 100ms;
}

.button:hover{
    cursor: pointer;
    
}

.button h2:hover{
    color: #4688EB;
}

#restart_button:hover{
    width: 6rem;
}

#restart_button:active{
    width: 5rem;
}

#hide_letters:hover{
    width: 6rem;
    height: 6rem;
}

#hide_letters:active{
    width: 5rem;
    height: 5rem;
}

/*********************/

/*** Topography Styles ***/

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin: 1.5rem;
    
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}
  
h4, h5 {
    font-size: 1.8rem;
}
  
h6{
    font-size: 1.6rem;
}

p{
    font-size: 1.6rem;
}

li{
    font-size: 1.8rem;
}
/************************/

@media only screen and (max-width: 800px){
    #header-logo{
        display: none;
    }

    nav{
        position: static;
    }

    #game_helper h2{
        width: 25rem;
    }

    #game_helper_buttons{
        width: 25rem;
    }

    #start_game , .grid{
        width: 25rem;
        height: 25rem;
    }
}